@import './mixin';
@import './variables';

.allin {
    @include Allin
}

.title-princp {
    display: flex;
    justify-content: center;
}

.cont-logo {
    width: $font-size-xlarge;

    img {
        width: 100%;
    }
}

.naveg {
    li {
        display: inline;
        margin-left: $margin-small;
        margin-right: $margin-small;
    }
}

.redirec {
    li {
        a {
            text-decoration: none;
            color: $color-white;
            font-size: $font-size-medium;
        }
    }
}

.intro-text {
    width: 600px;
    margin-left: $margin-default;
    font-size: $font-size-medium;

    h2 {
        margin-top: $margin-small;
        font-size: $font-size-large;
    }

    p {
        margin-top: 15px;
    }
}

.system {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.solar-system {
    position: relative;
    z-index: 2;
}

.planet {
    position: absolute;
    border-radius: 50%;
    transform-origin: -50px;
}

.shiny-star {
    width: 30px;
    height: 30px;
    animation: orbit 40s linear infinite;
}

.shiny-star img {
    width: 100%;
}

.shiny-star2 {
    width: 30px;
    height: 30px;
    animation: orbit2 50s linear infinite;
}

.shiny-star2 img {
    width: 100%;
}

.shiny-star3 {
    width: 30px;
    height: 30px;
    animation: orbit3 50s linear infinite;
}

.shiny-star3 img {
    width: 100%;
}

.shiny-star4 {
    width: 30px;
    height: 30px;
    animation: orbit4 50s linear infinite;
}

.shiny-star4 img {
    width: 100%;
}

@keyframes orbit {
    0% {
        transform: rotate(-360deg) translateX(500px) rotate(-360deg);
    }

    100% {
        transform: rotate(360deg) translateX(100px) rotate(360deg);
    }
}

@keyframes orbit2 {
    0% {
        transform: rotate(360deg) translateX(500px) rotate(360deg);
    }

    100% {
        transform: rotate(-360deg) translateX(100px) rotate(-360deg);
    }
}

@keyframes orbit3 {
    0% {
        transform: rotate(360deg) translateX(500px) rotate(360deg);
    }

    100% {
        transform: rotate(-360deg) translateX(100px) rotate(-360deg);
    }
}

@keyframes orbit4 {
    0% {
        transform: rotate(-360deg) translateX(500px) rotate(-360deg);
    }

    100% {
        transform: rotate(360deg) translateX(100px) rotate(360deg);
    }
}
