// Margins
$margin-default: 50px;
$margin-large: 100px;
$margin-small: 30px;
$margin-medium: 80px;
$margin-left: 30px;
$margin-right: 0;
$margin-auto: auto;
// Widths and Heights
$width-image: 350px;
$width-video-large: 650px;
$width-video-small: 800px;
$height-video-small: 434px;
$height-video-large: 680px;
$planet-image-width: 350px;
$container-grid-margin: 120px;
$image-width: 90%;
$default-image-width: 350px;
$character-width: 200px;
// Font Sizes
$font-size-xlarge: 100px;
$font-size-large: 40px;
$font-size-medium: 20px;
$font-size-small: 16px;
$font-size-xsmall: 10px;

// Colors
$color-white: #fff;
$color-text: #000;



// Maps (Todos los Grid)

// Inicio Grid
$items: (
    first-item: imagen,
    second-item: nada,
    third-item: video,
    fourth-item: texto,
    fifth-item: nada2,
    sixth-item: texto2
);

// Planets Grid
$planet-texts: (
    planet-text-one: (area: text-one, margin: 0px 80px 0px 80px),
    planet-text-two: (area: text-two, margin: 0px 80px 0px 80px),
    planet-text-three: (area: text-three, margin: 100px 80px 0px 80px),
    planet-text-four: (area: text-four, margin: 100px 80px 0px 80px),
    planet-text-five: (area: text-five, margin: 100px 80px 0px 80px),
    planet-text-six: (area: text-six, margin: 100px 80px 0px 80px)
);
$planet-images: (
    planet-image-one: (area: image-one, width: 350px, margin-left: 150px, margin-top: null),
    planet-image-two: (area: image-two, width: 350px, margin-left: 150px, margin-top: null),
    planet-image-three: (area: image-three, width: 350px, margin-left: 150px, margin-top: 100px),
    planet-image-four: (area: image-four, width: 350px, margin-left: 150px, margin-top: 100px),
    planet-image-five: (area: image-five, width: 350px, margin-left: 150px, margin-top: 100px),
    planet-image-six: (area: image-six, width: 350px, margin-left: 150px, margin-top: 100px)
);
// Characters Grid
$characters: (
    character-one: character-one,
    character-two: character-two,
    character-three: character-three,
    character-four: character-four,
    character-five: character-five
);

$character-texts: (
    character-one-text: character-one-text,
    character-two-text: character-two-text,
    character-three-text: character-three-text,
    character-four-text: character-four-text,
    character-five-text: character-five-text
);

// Media Query Max 1200px Grids:

// Planets
$planet-texts-mqtwo: (
    planet-text-one: (area: text-one, margin: 0px 80px 0px 80px),
    planet-text-two: (area: text-two, margin: 0px 80px 0px 80px),
    planet-text-three: (area: text-three, margin: 100px 80px 0px 80px),
    planet-text-four: (area: text-four, margin: 100px 80px 0px 80px),
    planet-text-five: (area: text-five, margin: 100px 80px 0px 80px),
    planet-text-six: (area: text-six, margin: 100px 80px 0px 80px)
);

$planet-images-mqtwo: (
    planet-image-one: (area: image-one, width: 350px, margin-left: auto, margin-top: null),
    planet-image-two: (area: image-two, width: 350px, margin-left: auto, margin-top: null),
    planet-image-three: (area: image-three, width: 350px, margin-left: auto, margin-top: 100px),
    planet-image-four: (area: image-four, width: 350px, margin-left: auto, margin-top: 100px),
    planet-image-five: (area: image-five, width: 350px, margin-left: auto, margin-top: 100px),
    planet-image-six: (area: image-six, width: 350px, margin-left: auto, margin-top: 100px)
);

// Characters
$characters-mqtwo: (
    one: character-one,
    two: character-two,
    three: character-three,
    four: character-four,
    five: character-five
);

$character-texts-mqtwo: (
    one-text: character-one-text,
    two-text: character-two-text,
    three-text: character-three-text,
    four-text: character-four-text,
    five-text: character-five-text
);
$character-common-styles: (
    width: 200px,
    margin-right: 50px,
    margin-top: 40px,
    margin-left: 20px
);
$character-text-margins: (
    one-text: 40px 80px 0px 0px,
    two-text: 40px 80px 0px 0px,
    three-text: 40px 40px 0px 0px,
    four-text: 40px 80px 0px 0px,
    five-text: 40px 80px 0px 0px
);

//Media Query Max 720 Grids:

$planet-texts-mqthree: (
    text-one: text-one,
    text-two: text-two,
    text-three: text-three,
    text-four: text-four,
    text-five: text-five,
    text-six: text-six
);

$planet-images-mqthree: (
    image-one: image-one,
    image-two: image-two,
    image-three: image-three,
    image-four: image-four,
    image-five: image-five,
    image-six: image-six
);
//Characters
$characters-mqthree: (
    character-one,
    character-two,
    character-three,
    character-four,
    character-five
);

$character-texts-mqthree: (
    character-one-text: character-one-text,
    character-two-text: character-two-text,
    character-three-text: character-three-text,
    character-four-text: character-four-text,
    character-five-text: character-five-text
)