// Margins
$margin-default: 50px;
$margin-large: 100px;
$margin-small: 30px;
$margin-medium: 80px;
$margin-left: 30px;
$margin-right: 0;
$margin-auto: auto;
// Widths and Heights
$width-image: 350px;
$width-video-large: 650px;
$width-video-small: 800px;
$height-video-small: 434px;
$height-video-large: 680px;
$planet-image-width: 350px;
$container-grid-margin: 120px;
$image-width: 90%;
$default-image-width: 350px;
$character-width: 200px;
// Font Sizes
$font-size-xlarge: 100px;
$font-size-large: 40px;
$font-size-medium: 20px;
$font-size-small: 16px;
$font-size-xsmall: 10px;

// Colors
$color-white: #fff;
$color-text: #000;



